.ck .ck-content {
	height: 400px;
}

.ck-editor__editable {
	border: none;
}

.ck-rounded-corners .ck.ck-editor__main>.ck-editor__editable, .ck.ck-editor__main>.ck-editor__editable.ck-rounded-corners{
	border: none;
}